<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password </title>
</head>
<body>
    <form  onsubmit="forgotPassword(event)">
        <label>enter mail id</label>
        <input type="text" id="Email">
        <button type="submit" >submit</button>
    </form>
</body>
<script src="forgotPassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</html>